<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página no encontrada</title>
    <link rel="stylesheet" href="./styles.css">
</head>
    <body>
        <div id = "imagen-error">
            <img src="https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExNDR4ZzVnMGt3NHczcGtoejV4NW5pcmExcGhoZDJoc2NjbWMxMXVrdSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/8L0Pky6C83SzkzU55a/giphy.gif" alt="Casciñoqui">
        </div>
        <div class = "texto-error">
            <h1> Página no encontrada :/</h1>
            <h2> Haga click <a href="/home"> aquí </a> para volver a la página principal</h2>    
        </div>
    </body>
</html>